/* ==========================================================================
   Colors
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Declarations
 *  2. Collections
 *  3. Helper Classes
 *  4. Typography
 *  5. Navbar
 *  6. Inputs
 *  7. Buttons
 *  8. Dropdowns
 *  9. Lists
 */

/*********************
  1. Declarations
**********************/

$white: #fff !default;
$white-smooth: #f2f2f2 !default;

$grey: #555 !default;
$grey-dark: #1D2127 !default;
$grey-medium: #808697 !default;
$grey-light: #d8d8d8 !default;
$grey-transparent: #eaeaea !default;
$light: $grey-transparent !default;
$hover: rgba(0, 0, 0, 0.04) !default;

$black: #171717 !default;
$black-smooth: #262626 !default;

$dark: $black !default;
$dark-invert: $light !default;
$light-invert: $dark !default;

$primary: #008200 !default;
$primary-invert: $white !default;

$secondary: #f0820a !default;
$secondary-invert: $white !default;

$default: #ebebeb !default;
$default-invert: #777 !default;

$disabled: #ebebeb !default;
$disabled-invert: #999 !default;

$muted-color: #999 !default;

$success: #47a447 !default;
$success-invert: $white !default;

$warning: #ed9c28 !default;
$warning-invert: $white !default;

$danger: #d2322d !default;
$danger-invert: $white !default;

$info: #f0820a !default;
$info-invert: $white !default;

$website: $secondary !default;
$facebook: #4267b2 !default;
$facebook-hover: #365899 !default;
$twitter: #1da1f2 !default;
$twitter-hover: #0c7abf !default;
$whatsapp: #25d366 !default;
$whatsapp-hover: #128c7e !default;
$instagram: #405de6 !default;
$linkedin: #0077b5 !default;
$github: #333 !default;

$body-background: $white-smooth !default;
$background: $grey-light !default;

/*********************
  2. Collections
**********************/
$colors: (white: ($white, $black), black: ($black, $white), light: ($light, $light-invert), dark: ($dark, $dark-invert), primary: ($primary, $primary-invert), secondary: ($secondary, $secondary-invert), info: ($info, $info-invert), success: ($success, $success-invert), warning: ($warning, $warning-invert), danger: ($danger, $danger-invert)) !default;

/*********************
  3. Helper Classes
**********************/
@each $name, $pair in $colors {
    span, p, h1, h2, h3, h4, h5, td, th {
        $color: nth($pair, 1);
        &.is-#{$name} {
            color: $color
        }
    }
}

/*********************
  4. Typography
**********************/

$heading: $grey-dark !default;
$heading-link-hover: $primary !default;

$text: $grey !default;
$text-light: $grey !default;
$text-strong: $grey-dark !default;

$link-color: $primary !default;
$link: $primary !default;
$link-invert: $primary-invert !default;
$link-visited: $secondary !default;

$link-hover: $primary !default;
$link-hover-border: $grey-light !default;

$link-focus: $primary !default;
$link-focus-border: $primary !default;

$link-active: $primary !default;
$link-active-border: $grey-dark !default;

/*********************
  5. Navbar
**********************/
$navbar-background-gradient-start: $default 0%;
$navbar-background-gradient-end: $white 45%;
$navbar-border-bottom-color: $default;

$navbar-buttons-text-color: $grey;
$navbar-buttons-background-color: transparent;
$navbar-buttons-hover-text-color: $primary;
$navbar-buttons-hover-background-color: transparent;
$navbar-buttons-badge-background-color: $secondary;
$navbar-buttons-badge-text-color: $secondary-invert;

$navbar-separator-background-color: $grey-light;
$navbar-separator-background-gradient-color: $white-smooth;

$menu-item-text-color: $grey-light;
$menu-item-arrow-color: $grey-light;

/*********************
  6. Inputs
**********************/
$input-text-color: $grey;
$input-border-color: $grey-transparent;
$input-active-border-color: $secondary;
$select-search-choice-background-color: $primary;
$select-search-choice-text-color: $primary-invert;
$input-background-color: $white;

$datetimepicker-active-background-color: $primary;
$datetimepicker-active-text-color: $white-smooth;
$datetimepicker-btn-hover-background-color: $primary;
$datetimepicker-btn-disabled-color: $disabled;

/*********************
  7. Buttons
**********************/
$button-default-background-color: $primary !default;
$button-default-text-color: $white !default;

$button-disabled-background-color: $white-smooth !default;
$button-disabled-text-color: $grey-light !default;

/*********************
  8. Dropdowns
**********************/
$dropdown-background-color: $white;
$dropdown-item-text-color: $grey;
$dropdown-item-hover-background-color: $primary;
$dropdown-item-hover-text-color: $primary-invert;

/*********************
  9. Lists
**********************/
$notification-list-border-color: $grey-light;
$notification-list-unread-background-color: $white-smooth;
$notification-list-title-color: $secondary;
$notification-list-text-color: $text;
$notification-list-date-color: $muted-color;