/* ==========================================================================
   Buttons - Bulma Overwrite
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Declarations
 *  2. General
 *  3. Share Buttons
 *  4. Message Buttons
 *  5. Button Group
 */

/*********************
  1. Declarations
**********************/

/*********************
  2. General
**********************/
button {
    *:only-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/*********************
  3. Share Buttons
**********************/
.share-buttons {
    display: flex;
    justify-content: center;

    .button {
        border: none;
        color: $white;

        &.twitter {
            background-color: $twitter;

            &:hover {
                background-color: $twitter-hover !important;
            }
        }

        &.facebook {
            background-color: $facebook;

            &:hover {
                background-color: $facebook-hover !important;
            }
        }

        &.whatsapp {
            background-color: $whatsapp;

            &:hover {
                background-color: $whatsapp-hover !important;
            }
        }
    }
}

/*********************
  4. Message Buttons
**********************/
.message-button {
    white-space: normal;
    height: auto;
}

/*********************
  5. Button Group
**********************/
.button-group {
    display: flex;
    justify-content: flex-end;

    > * {
        margin: 0 5px;
    }
}