/* ==========================================================================
   Cards
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Declarations
 *  2. Cards List
 *  3. Cards
 *  4. Collapsible Cards
 *  5. Price Cards
 */

/*********************
  1. Declarations
**********************/
$card-hover-transition-duration: .5s;

/*********************
  3. Cards
**********************/
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 2px;

    &.transparent {
        background: rgba($white, 0.8);
    }

    &.suggestion {
        border: 2px solid $success;
    }

    &.selected {
        border: 3px solid $success;

        &:after {
            font-family: "FontAwesome";
            content: '\f00c';
            color: $white-smooth;
            position: absolute;
            right: -5px;
            top: -4px;
            padding: 0 5px;
            font-size: $font-size-x-large;
            background: $success;
            border-radius: 0 0 0 10px;
        }
    }

    &.disabled {
        opacity: 0.4;

        a {
            cursor: not-allowed;

            &:hover {
                .card-header {
                    & > .card-image {
                        transform: none;
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    > a {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        &:hover {
            .card-header {
               & > .card-image {
                   transform: scale(1.2);
                   opacity: 0.3;
               }

               .card-header-info.toggle {
                   display: block;
               }
            }
        }
    }

    .card-header {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        flex: 1;

        &.card-header-image {
            background: $dark;
            min-height: 200px;
            overflow: hidden;

            &.large {
                min-height: 300px;
            }
        }

        .rating-stars {
            position: absolute;
            left: 0;
            bottom: 0;
            margin: 5px;

            &.center {
                position: relative;
                margin: 5px 0;
            }
        }

        .card-image {
            background-position: 50%;
            background-size: cover;
            position: absolute;
            height: 100%;
            width: 100%;
            transition: all $card-hover-transition-duration;
            opacity: 0.6;
            left: 0;
            top: 0;
        }

        .card-header-info {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            z-index: 2;

            &.toggle {
                display: none;
                border-top: 2px solid $white-smooth;
                border-bottom: 2px solid $white-smooth;
                @include animation(fadeInFromNone $card-hover-transition-duration ease-out);
            }

            > * {
                color: $white-smooth;
            }

            > .title {
                margin: 10px 0;
                text-align: center;
                color: $white-smooth;
            }

            > .subtitle {
                color: $secondary;
            }

            > i {
                font-size: 2.5rem;
            }
        }
    }

    .card-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        z-index: 2;

        .level:first-child {
            border-bottom: 1px solid $grey-light;
            padding-bottom: 1.5rem;
        }

        .title {
            margin-top: 0;
            color: $dark;
            font-weight: 400;
        }

        .subtitle {
            color: $grey;
            font-size: $font-size-small;
        }

        .card-info {
            flex: 1;
            font-size: $font-size-small;
        }

        > .content {
            height: 130px;

            .description {
                height: 60px;
                position: relative;
            }
        }

        .card-extra {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $grey;

            .price {
                color: $dark;
                font-size: $font-size-x-large;
            }
        }

        .media-content {
            min-width: 0;

            .title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .card-footer {
        .card-footer-item {
            &:hover{
                background: $hover;
            }

            i:first-child {
                margin-right: 5px;
            }

            i:last-child {
                margin-left: 5px;
            }
        }
    }
}

/*********************
  4. Collapsible Cards
**********************/
.card.collapsible {

    &.is-active {
        .card-header {
            border-bottom: 1px solid $grey-light;
        }
    }

    .card-header {
        background: transparent;
        min-height: inherit;
        padding: 0.75rem;

        .card-header-title {
            margin-bottom: 0;
        }
    }

    .card-toggle {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-toggle {
        cursor: pointer;

        &:hover, &:hover + .card-content {
            background: $hover;
        }
    }
}

/*********************
  5. Price Cards
**********************/
.card.price-card {

    .card-header {
        flex-direction: row;
        min-height: 100px;
        padding: 0;

        > * {
            padding: 0.75rem;
        }

        .content {
            margin: 0;

            .header {
                display: flex;
                justify-content: space-between;

                .title {
                    color: $primary;
                    font-size: $font-size-x-large - 0.1rem;
                }

                .subtitle {
                    margin-bottom: 0.3rem;
                }

                .price {
                    font-size: $font-size-x-large;
                    color: $secondary;

                    small {
                        font-size: $font-size;
                    }
                }
            }

            .action {
                text-align: center;
                margin: 20px 0 10px;
            }
        }

        @media #{$mobile} {
            flex-direction: column;

            .price {
                width: 100%;
            }
        }

    }
}
