/* ==========================================================================
   Dropdowns
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Declarations
 *  2. General
 */

/*********************
  1. Declarations
**********************/
$dropdown-padding: 10px 2px;
$dropdown-padding-below-origin: 45px 10px 0;
$dropdown-border-radius: 2px;
$dropdown-item-padding: 10px;
$dropdown-icon-margin-right: 5px;
$dropdown-menu-max-width: 300px;

/*********************
  2. General
**********************/
.dropdown-menu {
    border: 1px solid $button-border;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    padding: $dropdown-padding-below-origin;
    z-index: 992;
    display: none;
    max-width: $dropdown-menu-max-width;
    white-space: normal;
    line-height: normal;
    background: $dropdown-background-color;
    border-radius: $dropdown-border-radius;

    &.below-origin {
        padding: $dropdown-padding;
    }

    &.user-menu {
        border-radius: 0 0 $dropdown-border-radius;
        box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
        border-top: none;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    a {
        border-radius: $dropdown-border-radius;
        color: $dropdown-item-text-color;
        display: flex;
        align-items: center;
        font-size: $font-size-small;
        padding: $dropdown-item-padding;

        &:hover {
            background: $dropdown-item-hover-background-color;
            color: $dropdown-item-hover-text-color;
        }
    }

    i {
        font-size: $font-size;
        margin-right: $dropdown-icon-margin-right;
        vertical-align: middle;
    }
}

.button.dropdown-active {
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
}