/* ==========================================================================
   Elements
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Declarations
 *  2. Forms
 *  3. Horizontal Rows
 *  4. Levels
 *  5. Calendar Icon
 *  6. Menues
 *  7. Wizard
 *  8. Slider
 *  9. Modals
 * 10. Rating
 */

/*********************
  1. Declarations
**********************/


/*********************
  2. Forms
**********************/
.central-form {
    background: $white;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
    margin: 5% auto;
}

/*********************
  3. Horizontal Rows
**********************/
hr.light {
    margin: 20px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #d8d8d8, rgba(0, 0, 0, 0));
}

/*********************
  4. Levels (Bulma Overwrites)
**********************/
.level {
    .level-item {

        .heading {
            font-size: $font-size-small;
            margin-bottom: 0;
            margin-top: 5px;
        }

        .title {
            font-size: $font-size;
            color: $primary !important;
        }

        img {
            max-height: 40px;
        }
    }
}

/*********************
  5. Calendar Icon
**********************/
time.calendar {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 0.6em;
    border: 1px solid $border;
    overflow: hidden;

    .month {
        width: 100%;
        font-size: 0.6rem;
        font-weight: bold;
        font-style: normal;
        color: $secondary;
    }

    .day {
        width: 100%;
        font-weight: bold;
        font-style: normal;
        font-size: 0.8rem;
        letter-spacing: -0.05em;
        color: #2f2f2f;
    }

    .year {
        width: 100%;
        font-size: 0.6rem;
        font-weight: bold;
        font-style: normal;
        color: #fff;
        background-color: $secondary;
    }
}

/*********************
  6. Menues (Bulma Overwrites)
**********************/
.menu {
    .menu-label {
        color: $grey;

        a {
            color: $grey;
        }

        a.is-active, a:hover {
            color: $link-color;
        }
    }

    .menu-list {
        a:hover:not(.is-active) {
            background: $hover;
        }

        ul {
            list-style-type: none;
        }
    }
}

/*********************
  7. Wizard
**********************/
.wizard {

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 10px;

        .navigation-item {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .navigation-item-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                i {
                    font-size: $font-size-x-large;
                }

                .title {
                    margin-bottom: 0;
                }

                .subtitle {
                    margin-top: 0;
                }
            }

            &.selected {
                .navigation-item-content {
                    * {
                        color: $success;
                    }
                }
            }

            &.disabled {
                cursor: not-allowed;

                .navigation-item-content {
                    * {
                        color: $disabled;
                    }
                }
            }

            &.active {

                .navigation-item-content {
                    * {
                        color: $info;
                    }
                }
            }

            &:not(.disabled) {
                &:hover {
                    .title {
                        color: $secondary;
                    }
                }
            }

            &:not(:last-of-type):after {
                font-family: 'FontAwesome';
                content: "\f054";
                margin: 0 20px;
            }
        }
    }

    .actions {
        display: flex;
        justify-content: space-around;
    }
}

/*********************
  8. Slider
**********************/
.slider {
    display: flex;

    .action {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-size-x-large;
        padding: 0.75rem;
        background: rgba(255, 255, 255, 0.6);
        margin: 0.75rem;
        cursor: pointer;

        &:hover {
            background: $white;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

/*********************
  9. Modals
**********************/
.modal-card-head, .modal-card-foot {
    background-color: $grey-transparent;
}

.modal-card-title {
    margin-bottom: 0 !important;
}

.modal-card-foot {
    justify-content: flex-end;
}

/*********************
  10. Rating
**********************/
.rating {
    padding: 30px 0;

    &:not(:last-of-type) {
        border-bottom: 1px solid $grey-light;
    }

    .rating-heading {
        display: flex;
        margin-bottom: 10px;

        .rating-info {
            display: flex;
            flex-direction: column;

            &:not(:first-child) {
                margin-left: 10px;
            }

            .title {
                margin-bottom: 2px;

                * {
                    font-size: inherit;
                }
            }
        }
    }

    .rating-stars {
        margin-bottom: 5px;
        font-size: $font-size-large;
    }
}

.rating-stars {
    display: flex;
    font-size: $font-size-x-large;
    color: $star !important;
}