/* ==========================================================================
   Layout
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Declarations
 *  2. General
 *  3. Content
 *  4. Navbar
 */

/*********************
  1. Declarations
**********************/

$content-margin: 40px;

$header-height: 80px;
$header-bottom-top-width: 2px;
$header-border-bottom-width: 1px;
$header-margin-left: 40px;
$header-margin-right: 0;
$header-separator-margin: 0 15px 0;
$header-separator-width: 2px;
$header-search-input-width: 200px;
$header-item-margin: 0 15px;
$header-item-font-size: 1rem;

/*********************
  2. General
**********************/
html {
    min-height: 100%;

    body {
        background-color: $body-color;
        width: 100%;
        color: $grey;
        line-height: 22px;
        font-size: $font-size-small !important;
        margin: 0;
    }
}

/*********************
  3. Content
**********************/
.body {
    display: flex;
    flex-direction: column;

    > .content {
        position: relative;
        margin-top: $header-height;
    }
}

/*********************
  4. Navbar
**********************/
.header {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $header-height;
    border-top: $header-bottom-top-width solid $primary-color;
    @include linear-gradient($header-background-gradient-start, $header-background-gradient-end);
    border-bottom: $header-border-bottom-width solid $header-border-bottom-color;
    box-shadow: 0 1px 2px -2px $grey;

    > .container {
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        position: relative;
        height: 100%;
    }

    .header-left, .header-right {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
    }

    .header-left {
        margin-left: $header-margin-left;

        @media #{$x-small-only} {
            margin-left: $header-margin-left / 3;
        }
    }

    .header-right {
        margin-right: $header-margin-right;

        @media #{$x-small-only} {
            margin-right: $header-margin-right / 3;
        }

        > * {
            margin: $header-item-margin;
        }
    }

    a {
        font-size: $header-item-font-size;
        cursor: pointer;
    }

    .header-buttons {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        position: relative;
        height: 100%;

        > li > a {
            display: block;
            height: 100%;
            line-height: $header-height;
            padding: $header-item-margin;
            color: $header-buttons-text-color;
            background: $header-buttons-background-color;


            &:hover, &.active {
                color: $header-buttons-hover-text-color;
                background: $header-buttons-hover-background-color;
            }

            &.with-badge {
                color: $header-buttons-badge-background-color;
            }

            .badge {
                position: absolute;
                bottom: 15px;
                background: $header-buttons-badge-background-color;
                color: $header-buttons-badge-text-color;
                padding: 2px 4px;
                border-radius: 50%;
                font-size: 0.8rem;
                right: 10px;
            }
        }
    }

    .separator {
        background-color: $header-separator-background-color;
        background-image: -webkit-linear-gradient($header-separator-background-gradient-color 60%, $header-separator-background-color);
        background-image: linear-gradient($header-separator-background-gradient-color 60%, $header-separator-background-color);
        display: inline-block;
        height: 100%;
        margin: $header-separator-margin;
        width: $header-separator-width;
        vertical-align: middle;
    }

    .search {
        width: $header-search-input-width;
        display: inline-block;
        vertical-align: middle;
    }

    .userbox {
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        margin: 3px 17px 0 0;
        position: relative;
        cursor: pointer;

        & > a {
            display: flex;
            text-decoration: none;
            justify-content: center;
            align-items: center;
        }

        a:hover {
            text-decoration: none;
        }

        .profile-info {
            display: inline-block;
            vertical-align: middle;
        }

        .profile-info {
            margin: 0 25px 0 10px;
        }

        .name,
        .role {
            display: block;
        }

        .name {
            color: #000011;
            font-size: $font-size-small;
            line-height: 1.2em;
        }

        .role {
            color: #ACACAC;
            font-size: $font-size-x-small;
            line-height: 1.2em;
        }

        .custom-caret {
            color: #000011;
            font-size: 16px;
            font-weight: bold;

            &:before {
                content: "\f107";
            }
        }

        & > a.active {
            position: relative;
            z-index: 993;

            .custom-caret:before {
                content: "\f106";
            }
        }

        .dropdown-menu {
            left: -11px;
            top: -10px;
        }
    }
}
