/* ==========================================================================
   Layout
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Declarations
 *  2. General
 *  3. Content
 *  4. Navbar
 *  5. Sections
 */

/*********************
  1. Declarations
**********************/

$content-margin: 40px;

$navbar-height: 80px;
$navbar-bottom-top-width: 2px;
$navbar-border-bottom-width: 1px;
$navbar-margin-left: 40px;
$navbar-margin-right: 0;
$navbar-separator-margin: 0 15px 0;
$navbar-separator-width: 2px;
$navbar-search-input-width: 200px;
$navbar-item-margin: 0 15px;
$navbar-item-font-size: 1rem;

/*********************
  2. General
**********************/


/*********************
  3. Content
**********************/
.body {
    display: flex;
    flex-direction: column;

    > .content {
        &:not(.welcome) {
            position: relative;
            margin-top: $navbar-height + 10px;
        }

        &.welcome {
            @extend .full-height;
        }
    }
}

/*********************
  4. Navbar
**********************/
.navbar {
    height: $navbar-height;
    border-top: $navbar-bottom-top-width solid $primary;
    @include linear-gradient($navbar-background-gradient-start, $navbar-background-gradient-end);
    border-bottom: $navbar-border-bottom-width solid $navbar-border-bottom-color;
    box-shadow: 0 1px 5px -2px $grey;
    position: fixed;
    width: 100%;
    z-index: 1000;
    @extend .nav;

    > .container {
        align-items: center;
        display: inherit;
    }

    .nav-left, .nav-right, .nav-center {
        height: 100%;
    }
    


    @media #{$mobile} {
        .nav-menu {
            height: auto;

            &:not(.is-active) {
                display: none;

            }

            ~ .nav-menu {
                top: 200%;
            }

            .nav-item {
                justify-content: center;
            }
        }
    }

    .nav-item {
        position: relative;
        font-size: $font-size-large;

        .logo {
            max-height: 4rem;
        }

        .icon {
            > i {
                font-size: $font-size-large;
            }
        }
    }

    .nav-toggle {
        position: absolute;
        height: $navbar-height;
        width: $navbar-height;
        right: 0;
        top: 0;

        // Hamburger
        span {
            height: 2px;
        }
    }

    .user-button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        & > a {
            display: flex;
            text-decoration: none;
            justify-content: center;
            align-items: center;
        }

        a:hover {
            text-decoration: none;
        }

        .profile-info {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        .profile-info {
            margin: 0 25px 0 10px;
        }

        .name,
        .role {
            display: block;
        }

        .name {
            color: #000011;
            font-size: $font-size-small;
            line-height: 1.2em;
        }

        .role {
            color: #ACACAC;
            font-size: $font-size-x-small;
            line-height: 1.2em;
        }

        .custom-caret {
            color: #000011;
            font-size: 16px;
            font-weight: bold;

            &:before {
                content: "\f107";
            }
        }

        & > a.active {
            position: relative;
            z-index: 993;

            .custom-caret:before {
                content: "\f106";
            }
        }

        .dropdown-menu {
            left: -11px;
            top: -10px;
        }
    }
}

/*********************
  5. Sections
**********************/
.section {
    padding: 2rem 1.5rem;
    background-color: transparent;

    &:first-of-type {
        padding-top: 0;
    }

    .heading {

        .subtitle {
            margin-top: -1.25rem;
            margin-bottom: 1.5rem;
            font-size: $font-size-small
        }
    }

    .content {
        padding: 0 5px;
    }
}
