/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Declarations
 *  2. General
 *  3. Status List
 *  4. Breadcrumb
 *  5. Notification List
 *  6. Info List
 *  7. Striped List
 */

/*********************
  1. Declarations
**********************/
$breadcrumb-home-size: $font-size-large;
$breadcrumb-separator-size: $font-size-small;
$breadcrumb-separator-margin: 0 5px;
$breadcrumb-size: $font-size;

$list-icon-margin: 5px;

$notification-list-date-font-size: 0.7rem;
$notification-list-message-margin: 5px 0;
$notification-list-title-font-weight: 600;
/*********************
  2. General
**********************/
ul {
    list-style: none;
}

.content ul, .content ul ul {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

/*********************
  4. Breadcrumb
**********************/
.breadcrumb {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        font-weight: 300;

        a:hover {
            color: $link;
        }

        &:after {
            content: '/';
            display: inline-block;
            font-size: $breadcrumb-separator-size;
            margin: $breadcrumb-separator-margin;
            vertical-align: middle;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    .fa-home {
        font-size: $breadcrumb-home-size;
    }

    i {
        vertical-align: middle;
    }

    a,
    span {
        display: inline-block;
        font-size: $breadcrumb-size;
        line-height: $breadcrumb-home-size + px;
        vertical-align: middle;
        color: $text;
    }
}

/*********************
  5. Notification List
**********************/
ul.notification-list {

    width: $dropdown-menu-max-width;

    a {
        flex-direction: column;
        align-items: flex-start;
        color: $notification-list-text-color;
        white-space: normal;

        &.unread {
            background: $notification-list-unread-background-color;
        }

        &:hover {
            background: $dropdown-item-hover-background-color;
        }
    }

    li:not(:last-child) a {
        border-bottom: 1px solid $notification-list-border-color;
    }

    .title {
        color: $notification-list-title-color;
        font-weight: $notification-list-title-font-weight;
        display: flex;
        margin: 2px;
        align-items: center;
    }

    .message {
        margin: $notification-list-message-margin;
    }

    .date {
        color: $notification-list-date-color;
        font-size: $notification-list-date-font-size;
    }
}

/*********************
  6. Info List
**********************/
ul.info-list {
    list-style: none;
    padding: 0;
    margin-left: 0.5em;

    li {
        color: $grey;
        display: flex;
        align-items: center;
        margin: 7px 0;

        i:first-child {
            margin-right: $list-icon-margin;
        }

        i:last-child {
            margin-left: $list-icon-margin;
        }

        i:not(.fa) {
            width: 20px;
            height: 20px;
            background-size: cover;
            background-position: 50%;
            border-radius: 50px;
        }

        span {
            font-size: $font-size - 0.1rem;
            line-height: 1rem;
        }
    }
}

/*********************
  7. Striped List
**********************/
ul.striped-list {
    li {
        list-style-type: none;
        display: block;
        padding: .5em;
        background: $hover;
        margin: 0;
        text-align: center;

        &:nth-child(2n) {
            background: $white;
        }
    }
}