$orientations: (
        "": '',
        "-t": '-top',
        "-r": '-right',
        "-b": '-bottom',
        "-l": '-left',
);

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.color-inherit {
    color: inherit !important;
}

/*********************
  Align, Displays & Text Orientation
**********************/
.left-align {
    text-align: left !important;
}

.right-align {
    text-align: right !important;
}

.justify {
    text-align: justify !important;
}

.center, .center-align, .text-center {
    text-align: center !important;
}

.margin-auto {
    margin: auto;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.inline {
    display: inline !important;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none !important;
}

.responsive {
    width: 100%;
}

.full-height {
    height: 100vh;
}

.clearfix {
    clear: both;
}

.pointer {
    cursor: pointer !important;
}

.no-overflow {
    overflow: hidden !important;
}

.hide-overflow {
    overflow: hidden !important;
}

.auto-overflow {
    overflow: auto !important;
}

/*********************
  Flex
**********************/
.flex {
    display: flex !important;
    align-items: center;
}

.flex-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-start {
    display: flex !important;
    justify-content: flex-start !important;
}

.flex-end {
    display: flex !important;
    justify-content: flex-end !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex !important;
    flex-direction: column !important;
}

.flex-column-center {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
}

.window-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

@for $i from 1 through 10 {
    .flex-#{$i} {
        flex: $i !important;
    }
}


/*********************
  Spacings
**********************/
@each $key, $orientation in $orientations {
    .m#{$key}-auto {
        margin#{$orientation}: auto !important;
    }
    .m#{$key}-none {
        margin#{$orientation}: 0 !important;
    }
    .p#{$key}-none {
        padding#{$orientation}: 0 !important;
    }
    @for $i from 1 through 10 {
        .m#{$key}-#{$i * 5} {
            margin#{$orientation}: 5px * $i !important;
        }

        .p#{$key}-#{$i * 5} {
            padding#{$orientation}: 5px * $i !important;
        }
    }
}


/*********************
  Z-Levels
**********************/
.z-depth-0 {
    box-shadow: none !important;
}

.z-depth-small {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.10);
}

.z-depth-medium {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-large {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}